@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pokemon';
  src: url(/assets/fonts/PokemonSolidNormal.ttf);
  font-style: normal;
}

@layer components {
}

@layer utilities {
}
