@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pokemon';
  src: url(/assets/fonts/PokemonSolidNormal.ttf);
  font-style: normal;
}

@layer base {
  body {
    @apply bg-slate-700 text-white;
  }
}

@layer components {
}

@layer utilities {
}
